* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/chessboard.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Special Elite;
  display: flex;
}

h1 {
  font-size: 45px;
  font-weight: 600;

  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(0deg, red, orange);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.image_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

img {
  box-shadow: 22px 14px 0px 0px rgba(0, 0, 0, 0.5);
  border: 5px solid #a8e3d2;
  width: 450px;
}

.con {
  width: 100%;
  height: 480px;
  height: 100%;
  /* border: 0px solid #000; */
  transform-style: preserve-3d;
  perspective: 150px;
  position: relative;
  z-index: 1000;
  /* background-color: red; */
}

.con div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.swiper {
  width: 50%;
  height: 51px;
  position: absolute;
  top: 0;
  left: 40%;
  font-size: 32px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
  transform: translate(-50%, 100px);
  box-shadow: 18px 12px 0px 0px rgba(0, 0, 0, 0.5);

  /* background-color: rgba(0,0,0,0.75); */
  border: 5px solid #a8e3d2;
  color: orange;
  font-weight: 900;
}

/* .active {
  width: 21%;
  height: 100px;
  background-color: rgb(191, 187, 187) !important;
  transition: 0.3s;
} */

.swiper-1 {
  transform: translateY(0px) translateX(-100px);

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.swiper-2 {
  transform: translateY(100px) translateX(-50px);

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.swiper-3 {
  transform: translateY(200px) translateX(0px);
  transition: 0.3s;

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.swiper-4 {
  position: relative;
  transform: translateY(300px) translateX(50px);
  transition: 0.3s;

  /* Active  */
  /* Assign the animation name */
  animation-name: color-loop;
  /* Set the animation duration */
  animation-duration: 1s;
  /* Make the animation repeat infinitely */
  animation-iteration-count: infinite;
  /* Make the animation alternate between the colors */
  animation-direction: alternate;
}

/* Define the keyframes for the animation */
@keyframes color-loop {
  0% {
    background-color: rgb(175, 42, 42);
  }
  100% {
    background-color: rgb(180, 133, 46);
  }
}

.swiper-5 {
  transform: translateY(400px) translateX(0px);
  transition: 0.3s;

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.swiper-6 {
  transform: translateY(500px) translateX(-50px);

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.swiper-7 {
  transform: translateY(600px) translateX(-100px);

  background-image: linear-gradient(0deg, red, orange);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.s1 {
  /* background-color: red; */
}

.s2 {
  /* background-color: blue; */
}

.s3 {
  /* background-color: green; */
}

.s4 {
  /* background-color: yellow; */
}

.s5 {
  /* background-color: purple; */
}
